{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body class="fondo">
    <h1 class="titulo">Portal "Hola Mundo"</h1>
    <p>Esta es una web para gente que le gusta crear "Hola Mundo".</p>
    <p>Para ingresar, seleccione el botón <mark>Inicie Sesión</mark>  o si aún no está registrado, seleccione el botón <mark>Registrarse</mark>.</p>
    <br>
    <div class="button-container">
        <a href="{% url 'login' %}" class="boton">Iniciar Sesión</a>
        <a href="{% url 'registrarse' %}" class="boton">Registrarse</a>
    </div>
    <br><br>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% elif message.tags == 'warning' %}warning{% else %}info{% endif %}">
                <span>{{ message }}</span>
                <button class="close-btn" onclick="this.parentElement.style.display='none'">×</button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <footer class="footer-fijo">
        <p>© 2025 Portal Hola Mundo. Todos los derechos reservados. Creado por Sebastián Rodríguez P.</p>
    </footer>

    <script src="{% static 'JS/scripts.js' %}"></script>
</body>
</html>